header .navbar{ background-color: #0c3c64!important;}
.navbar-light .navbar-nav .nav-link{ color:#f1d766;}
ul li a
{
    font-weight:bold;
    font-size:18px;
}
span
{
    color: #f1d766;
}
.container{
    background-color: #373334!important;
}
       
   p{
       color:  #f1d766!important;
       font-size:18px;
   }
		
.apart_menu
				{
				    width:90%; 
				    margin:auto;
				    margin-top: 50px;
				    
				}
.apart_menu_block
				{
				    width:49.4%; 
				    float:left; 
				    text-align: center;
				    border: 1px solid black;
				    border-radius: 5px;
				    background-color: #524e42!important;
				    height:60px;
				    margin-left:0.3%;
				}
.apart_menu_block:hover
				{
				    border: 2px solid #f1d766;
				    cursor: pointer;
				}
				 
 
* {
  box-sizing: border-box;
}

.mySlides img {
  vertical-align: middle;
  height:600px;
}
.mySlidesss img {
  vertical-align: middle;
  height:600px;
}
.news-images
{
    width:100%;
    height:600px;
}
/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */


/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f1d766;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  background-color: #524e42;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.fb-like.fb_iframe_widget iframe
{
    width:250px!important;
}
header:hover{
        border-bottom: 20px solid #f1d766;
}
@media (max-width: 991px)
  {
           
           .slaidi
           {
               max-height:420px;
           }
          .position-relative
          {
              padding-left:0;
          }
          .nav-item
          {
              margin-left:20px;
              margin-right:10px;
          }
          .contact_infoo
          {
              width:100%;
             
              text-align:center;
          }
          .apart_menu_block
          {
              height:100px;
          }
 }
 
 @media (min-width: 1200px)
  {
           .container{
              width:100%!important;
              max-width:100%;
              
           }
           .slaidi
           {
               max-height:680px;
           }
          
 }
  @media (min-width: 992px)
  {
           .contact_infoo
          {
               width:33.333%;
              float:left;
              text-align:center;
          }
          .news-images
          {
              height:400px;
          }
          
 }
